<!DOCTYPE html>
<html>
<head>
  <base href="{{compiler.publicPath}}">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}" />
  {{#if compiler.isProduction}}
  <link rel="stylesheet" href="bundle-{{compiler.hash}}.css">
  {{/if}}
</head>

<body>
  <main>
    <div class="screen" id="welcomeScreen"></div>
    <div class="screen" id="gameScreen">
      <video id="webcam" width="320" height="240" autoplay="true"></video>
      <canvas id="faces"></canvas>
      <canvas id="game"></canvas>
      <canvas id="tracker"></canvas>
      <div id="debug"></div>
    </div>
  </main>

  <script src="clmtrackr.js"></script>
  <script src="models/model_pca_20_svm.js"></script>
  <script src="bundle-{{compiler.hash}}.js"></script>
</body>

</html>