<!DOCTYPE html>
<html>
<head>
  <base href="{{compiler.publicPath}}">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}" />
  {{#if compiler.isProduction}}
  <link rel="stylesheet" href="bundle-{{compiler.hash}}.css">
  {{/if}}
</head>

<body>

    <div class="debug">
      <video id="webcam" width="640" height="480" autoplay="true"></video>
      <canvas id="tracker"></canvas>
      <div id="debug"></div>
    </div>

  <main>

    <canvas id="faces"></canvas>

    <div class="screen show" id="welcomeScreen">
      <div class="wrapper">
        <h1>eyebro</h1>
        <button id="startBtn">start</button>
      </div>
    </div>

    <div class="screen" id="gameScreen">
      <canvas id="game"></canvas>
    </div>

  </main>

  <script src="clmtrackr.js"></script>
  <script src="models/model_pca_10_svm.js"></script>
  <script src="bundle-{{compiler.hash}}.js"></script>
</body>

</html>